/* IE6 CSS style sheet
---------------------------> */
#automate_media_efforts { margin: 24px 0px 0px 58px;}
.mk_portal_widget .widget_text { margin: 80px 0px 0px; }
.connecting-video-demo .video-demo-links { float:left; margin: 193px 0px 0px 27px; }
#connect_and_exchange_wrapper .exchange-bg { background: transparent; }
#hlp_tabbing_content .ui-tabs .ui-tabs-nav { padding: 0px 4px 0px 4px; }
#hlp_tabbing_content .ui-tabs .ui-tabs-nav li a{ padding: 4px 20px; }
.content-tab-navigation { position:relative; }
.content-tab-examples { padding: 20px 10px; }
.feature_admin_features ul li { margin: 0px; padding: 0px; }