<div class="modal-content-popup-wrapper">
<div class="double-column-wrapper">
  <div class="col1">
    <p class="category">Lifestyle and Living</p>
    <p class="title">Coffee Table Memoirs</p>
    <p>
      Digital scrapbooking is a great way to showcase special memories,
      not to mention a great alternative to storing your photos in an
      old shoebox. Photo books allow you to stroll down memory lane and
      bring life to special events, times, and places. Home Life Perks
      can help you with this endeavor by offering a variety of photo
      merchants with reasonably priced books.
    </p>
    <div class="clear"></div>
  </div>
  <div class="col2">
    <p><%= image_tag "layout/marketing_portal/photo_book.jpg", :alt => ""%></p>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<p class="rtitle">We have chosen four digital photo scrapbooking merchants to highlight below:</p>
<ul>
  <li>
    <strong><u>Photoworks</u>:</strong> Photoworks, run by American
    Greetings, is a great tool for digital scrapbooking. They offer
    a wide array of pre-set themes to go with a variety of
    occasions. Their extra perk: free shipping on your first order,
    as well as coupon codes and promotions linked at the bottom of
    each page. Photoworks prices range from $12.95 to $54.95.
  </li>
  <li>
    <strong><u>Kodak Gallery</u>:</strong>  Kodak Gallery stands out
    amongst its competitors for its use of eco-friendly paper and
    non-toxic inks. They also have the strongest book bindings in the
    industry, to ensure that your photo book is around for years to
    come. Kodak gallery books are priced from $9.99-$69.99.
  </li>
  <li>
    <strong><u>HP Snapfish</u>:</strong>  Snapfish is incredibly
    popular due to the ease and extensive offerings of their site.
    With Snapfish, you have unlimited digital photo storage and have
    the option of creating and 8 * 11 auto fill Express photo book if
    you have a time crunch. Prices range at $19.99 to $59.99.
  </li>
  <li>
    <strong><u>Picaboo</u>:</strong>  Picaboo specializes in creating
    one of a kind photo books. You can add additional recipients and
    various addresses when shipping your book. In addition, Picaboo
    allows you to share digital copies free of charge! Prices range
    from soft cover books starting at $9.99 up to $450.00 for elegant
    wedding books.
  </li>
</ul>
<p>
  Now that you know the ease, affordability, and variety of photo
  books, it is important to utilize all the special photos you
  have in your home.
</p>
<p class="rtitle">Tips on how to take advantage of old photos:</p>
<ul>
  <li>
    <strong>Scandigital.com</strong> offers a safe, easy, and reliable
    way to scan old negatives into digital photos. Classic pictures from
    long ago can simply be restored and sent to you from Scandigital.
    The process is simple: Send them your negatives and old photos,
    they scan for you and you get to choose which photos you wish to
    keep. Finally, Scandigital.com sends you a CD with all the newly
    scanned images! Easy, quick, and inexpensive, Scandigital.com
    brings new life to old photos.
  </li>
</ul>
</div>